body {
  background-image: url(images/winter_bg3.jpg);
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

.datum,
footer,
main {
  grid-column: 2/3;
}

.kalender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.bild-2 {
  justify-self: end;
}

footer {
  text-align: center;
}

header {
  text-align: center;
  background-color: dimgray;
  border: 2px solid red;
  color: beige;
  font-size: 1.25321321312312rem;
}

.datum {
    justify-self: center;
    background-color: dimgray;
  }